{#
/**
 * @file
 * Bartik's theme implementation to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 *
 * @see template_preprocess_maintenance_page()
 */
 #}
<div id="page-wrapper">
  <div id="page">
    <header id="header" role="banner">
      <div class="section clearfix">
      </div>
    </header>
    <h2></h2>
    <div id="main-wrapper">
      <div id="main" class="clearfix">
        <main id="content" class="column" role="main">
        <img src="{{ directory }}/assets/image/WDArk_Construction_GIF.gif" style="width:100%; heigth:100%;">
        </main>
      </div>
    </div>
  </div>
</div>
